
* {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: light;
}

.axis line{
  stroke: #f5f5f5;
}

.axis path{
  stroke: #f5f5f5;
}

text {
  fill: #f5f5f5;
}

label{
  color: #f5f5f5;
}

.view {
    padding: 0.5em;
    float: left;
}

.stacked{	
    width: 900px;
}

.filters{	
    width: 100px;
}

