.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip li {
    list-style-type: none;
    padding-bottom: 2px;
    font-size: 13px;
    font-style: italic;
}

.d3-tip ul {
    margin-left: -10px;
}

.d3-tip label{
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: -10px;
}